@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white min-h-screen;
  font-feature-settings: 'kern' 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



